<div class="lead">
  <h1> Statuses </h1>
</div>
<%= link_to 'Post a New Status', new_status_path, class: "btn btn-success"%>
<% @statuses.each do |status| %>
<div class="status">
  <span id="name"><%= status.user.full_name %></span> 
  <br>
  <span id="content"><%= status.content %></span>
  <div class="admin">
    <%= link_to time_ago_in_words(status.created_at) + " ago" %> |
    <%= link_to 'Edit', edit_status_path(status) %>  |
    <%= link_to 'Delete', status, method: :delete, data: { confirm: 'Are you sure?' } %>
    </div>
  </div>

<% end %>


